.ui-mobile body>div.ui-page {
    background-repeat: repeat;
    background: url("../img/bg_default_light.png") repeat scroll 0 0 transparent !important;
}
#settings, #groups, #scheduled, #history, #account, #account, #newgroup, 
#messagecredits, #help, #terms.bg-light, #help-1, #help-2, #help-3, 
#help-4, #help-5, #help-6, #help-7, #addcontactfromnumber, #new, 
#status-dialog, #message-name, #message-repeats, #message-date, 
#schedule-options, #purchase, #addcontactfromcontact {
    background: url("../img/bg_default_light.png") repeat scroll 0 0 transparent !important;
}
#login-phone_number, #login-password, #register-phone_number, 
#register-password, #forgotten-phone_number, #new-name, 
#verification-pin, #verification-password, 
#newgroup-name, #addcontactfromnumber-name, #addcontactfromnumber-number {
    padding: 5px 10px;
    height: 40px;
}
#login {
    background: url("../img/bg_login.png") repeat scroll 0 0 transparent !important;
}

.contact-name {
    color: black;
}

#no-results {
    display : none;
}
#log {
     position:fixed; 
     width:100%; 
     bottom:0px; 
     z-index:9999; 
     background-color:#aaaaaa; 
     padding:5px;
    display: none;
}